@tailwind base;

@tailwind components;

html,
body,
#app {
    @apply bg-gray-200;
    width: 100%;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.bg-blur {
    filter: blur(8px);
}

.btn {
    @apply text-sm font-bold uppercase tracking-wide py-2 px-4 rounded;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
}

.btn-indigo {
    @apply bg-indigo-500 text-gray-100;
}

.btn-indigo:hover {
    @apply bg-indigo-600;
}

.btn-gray {
    @apply bg-gray-500 text-gray-100;
}

.btn-gray:hover {
    @apply bg-gray-600;
}

.form-label {
    @apply pt-6 pb-2 inline-block text-gray-300 font-semibold text-sm;
}

.section-title {
    @apply pt-6 pb-2 inline-block text-gray-300 font-semibold text-sm;
}

@screen sm {
    .section-title {
        @apply pt-8 pb-4 text-base;
    }
}

.btn-indigo-3d {
    @apply bg-indigo-500 text-gray-100 border-b-4 border-indigo-700;
}

.btn-indigo-3d:hover {
    @apply bg-indigo-600 border-indigo-800;
}

.btn-gray-3d {
    @apply bg-gray-500 text-gray-100 border-b-4 border-gray-600;
}

.btn-gray-3d:hover {
    @apply bg-gray-600 border-gray-700;
}

/************************** 
** Scroll bar in LIGHT theme 
**************************/

.customize-scroll::-webkit-scrollbar {
    @apply h-1 bg-gray-300;
}
.customize-scroll::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-gray-300;
}

.customize-scroll::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full transition-bg;
}

.customize-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

/************************** 
** Scroll bar in DARK theme 
**************************/

.customize-scroll_dark::-webkit-scrollbar {
    @apply h-1 bg-gray-700;
}
.customize-scroll_dark::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    @apply bg-gray-700;
}

.customize-scroll_dark::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full transition-bg;
}

.customize-scroll_dark::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn-enter-active {
    animation: 0.3s fadeIn ease-in-out;
}
.fadeIn-leave-active {
    animation: 0.3s fadeIn ease-in-out reverse;
}

@tailwind utilities;
