@tailwind base;

@tailwind components;

*::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.btn {
    @apply text-sm font-bold uppercase tracking-wide py-2 px-4 rounded;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
}

.btn-indigo {
    @apply bg-indigo-500 text-gray-100;
}

.btn-indigo:hover {
    @apply bg-indigo-600;
}

.btn-gray {
    @apply bg-gray-500 text-gray-100;
}

.btn-gray:hover {
    @apply bg-gray-600;
}

.form-label {
    @apply mt-6 mb-2 inline-block text-gray-300 font-semibold text-sm;
}

.btn-indigo-3d {
    @apply bg-indigo-500 text-gray-100 border-b-4 border-indigo-700;
}

.btn-indigo-3d:hover {
    @apply bg-indigo-600 border-indigo-800;
}

.btn-gray-3d {
    @apply bg-gray-500 text-gray-100 border-b-4 border-gray-600;
}

.btn-gray-3d:hover {
    @apply bg-gray-600 border-gray-700;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@tailwind utilities;
